services:
  nginx:
    image: nginx:alpine
    container_name: CC-NGINX
    ports:
      - "80:80"
    networks:
      - sec_net

  frontend:
    build:
      context: .
      dockerfile: ./docker/frontend/Dockerfile
    container_name: CC-FRONTEND
    volumes:
      - frontend_dist:/app/dist
    networks:
      - sec_net

  fastapi:
    build:
      context: ./Backend/FastAPI
      dockerfile: Dockerfile
    container_name: CC-FASTAPI
    environment:
      POSTGRES_URL: ${POSTGRES_URL}
      MONGODB_URL: ${MONGODB_URL}
      REDIS_URL: ${REDIS_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
      LOG_LEVEL: ${FASTAPI_LOG_LEVEL:-info}
    ports:
      - "8000:8000"
    networks:
      - sec_net

  nestjs:
    build:
      context: ./Backend/NestJS
      dockerfile: Dockerfile
    container_name: CC-NESTJS
    environment:
      PORT: ${NESTJS_PORT:-3000}
      POSTGRES_URL: ${POSTGRES_URL}
      MONGODB_URL: ${MONGODB_URL}
      REDIS_URL: ${REDIS_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
    ports:
      - "3000:3000"
    networks:
      - sec_net

  postgres:
    image: postgres:17.6-alpine
    container_name: CC-POSTGRESQL
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - sec_net

  redis:
    image: redis:latest
    container_name: CC-REDIS
    ports:
      - "6379:6379"
    networks:
      - sec_net

  mongodb:
    image: mongo:latest
    container_name: CC-MONGODB
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - sec_net

networks:
  sec_net:
    driver: bridge

volumes:
  frontend_dist:
  postgres_data:
  mongo_data:
